<body>

  <div class="modal fade" id="modal-report" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" #modalRef>
    <div class="modal-dialog">
        <div class="modal-content">
            <p id="link-error" class="alert-dismissable alert-dark-primary alert alert"></p>
            <div class="modal-header">
                <h5 class="modal-title">Add Link</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="ui-link-create-form">
                    <!-- {% csrf_token %} -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Name">Name</label>
                                <input required type="text" name="name" class="form-control" id="Name" placeholder="Enter the name of the link here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group fill">
                                <label class="floating-label" for="Url">Url</label>
                                <input required type="url" name="url" class="form-control" id="Url" placeholder="Enter the Link here">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Parent">Parent</label>
                                <input required type="text" name="parent" class="form-control" id="Parent" placeholder="Enter the Link Parent name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="types">Type</label>
                                <select required class="form-control" id="types" name="type">
                                    <option value="Twitter">Twitter</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Youtube">Youtube</option>
                                    <option value="Twitch">Twitch</option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="Snapchat">Snapchat</option>
                                    <option value="Ticktok">Ticktok</option>
                                    <option value="LinkedIn">LinkedIn</option>
                                    <option value="Custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floating-label" for="Parent">Percentage</label>
                                <input required type="number" step="10" name="percentage" class="form-control" id="Percentage" placeholder="Enter receivable percentage">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" aria-label="Close">Submit</button>
                    <button class="btn btn-danger">Clear</button>
                </form>
            </div>
        </div>
    </div>
</div>


<main role="main" class="container">
  <div class="jumbotron">
    <div class="header">Purchases for Customer {{ customerName }}</div>
      <div class="row">
          <div class="col-sm-2">

              <form method='POST' action=''>
                  <input class="btn btn-primary mybutton" type="submit" value='Search'/>
              </form>
              <br>
              <a href="#"><div class="btn btn-primary mybutton">Add Items</div></a><br><br>
              <!-- <a href="/list_history"><div class="btn btn-primary mybutton">List History</div></a><br> -->
          </div>
          <br>
          <div class="col-sm-10">

            <div class="display_table">
              <table class='table'>
                <thead>
                  <tr>
                    <th>COST</th>
                    <th>FULFILLED</th>
                    <th>DATE</th>
                    <th>DETAILS</th>
                  </tr>
                </thead>
                <tr *ngFor="let purchase of purchases">
                  <!-- <ng-container *ngFor="let product of purchase.ordered_products">
                    <ng-container *ngFor="let mattress of product.mattresses">
                      <td>{{ mattress.quantity }}</td>
                    </ng-container>
                  </ng-container> -->
                    <td>{{ purchase.cost ? purchase.cost : 'N/A' }}</td>
                    <td>{{ purchase.fulfilled ? 'Yes' : 'No' }}</td>
                    <td>{{ purchase.created_at | date:'yyyy-MM-dd' }}</td>
                    <!-- <td><button class="btn btn-primary" (click)="openModal(purchase)">View</button></td> -->
                  </tr>
              </table>
            </div>
          </div>
      </div>
  </div>
</main>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>-->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
